html {
    min-height: 100%;
 }    

.site{
    margin:0px;
    padding:0px;
    background-color:#ffffff;
    display:grid;
    width: 100%;
    height:100%;
    grid-template-columns: 15% 70% auto;
    grid-template-rows: auto auto 80% auto;
    grid-template-areas: 
    "header header header"
    "navigation navigation navigation"
    "left-sidebar main right-sidebar"
    "footer footer footer";
}

.masthead{
    grid-area: header; 
    background-color: blue;
    height:100%;
   }

.masthead h1{
    text-align: center;
    color:black;
}
.navigation{
    grid-area: navigation;
    height:100%;
    background-color: #e9a05c;
    text-align: right;
  }

.main-content{
    grid-area: main;
    padding:1em;
    width:96%; 
     }   

.right-sidebar{
    grid-area:right-sidebar;
    padding:1em;
    background-color:#4392ec;
}
.left-sidebar{
    grid-area:left-sidebar;
    padding:1em;
    background-color: #4392ec;
}
.footbar{
    margin:0px;
    padding:1em;
    grid-area:footer;
    text-align: center;
}


.box-1{
    margin: 0px;
    padding: 1em;
    background-color: rgb(152, 152, 153);
    text-align: left;
    height: 50px;
}

.searchbar{
    margin: 0px;
    padding: 1em;
        }

.container{
    width: 100%;
    padding:1em;
            }

p{
    padding:1em;
    text-align: justify;
}

h3{
  text-align: center;
  }

.btn{
    background-color: #ffffff;
    text-align: center;
    text-emphasis: none;
    padding: 5px;
    width:100px;
    height:20px;
   }

.card{
    padding:2px;
    
}
.card-content{
    padding:1em;
    background-color: #b6b5af;
}

