{% extends 'posts/layout.html' %}




{% block navigation %}
    {% if user.is_authenticated %}
    <nav class="navigation">
            Welcome! {{username}}           
            <a href="/posts/logout/">Logout</a>
    </nav>
    
    <button class="button">
        <a href = "posts/new">Create Posts</a>
    </button>
    <button class="button">
        <a href = "posts/myposts">My Posts</a>
    </button>
    
    {% else %}
    <nav class ="navigation">
              <button class="button">
            <a href="/posts/signup/">Signup</a> 
        </button>
        
        <button class="button">
            <a href="/posts/login/">Login</a>
        </button>
  
    </nav>
    {% endif %}

{% endblock navigation %}

{% block content %}

    <div class ="container">

        <h3> {{post.title}}</h3>
        <p> {{post.body}}</p>
        <p> Posted on:{{post.created_at}}</p>
        <a href = "/posts" class = "btn">Go Back</a>

    </div>

{% endblock content %}

{% block right-sidebar %}

    <div class = "searchbar">
        <form method ="get">
            <input type ="text" name="q">
            <input type ="submit" value ="Search">
        </form>
    </div>
{% endblock right-sidebar %}