{% extends 'posts/layout.html' %}

{% block content %}

    {% if user.is_authenticated %}
         <p>   Welcome! {{username}}           
            <a href="/posts/logout/">Logout</a>
         </p>
         <p>
            <a href = "posts/new" class = "btn" style="float:right">Create Posts</a>
        </p>
        <ol class ="collection">
            {% if items|length > 1 %}
                {% for item in items %}
                    <li class = "collection-item"><a href = "/posts/details/{{item.id}}/{{item.slug}}">{{item.title}}</a></li>
                {% endfor %}
            {% elif items %}
                <li class = "collection-item"><a href = "/posts/details/{{items.0.id}}/{{items.0.slug}}">{{items.0.title}}</a></li>
            {% else %}
                <p> No Post</p>
            {% endif %}
        </ol>
    {% else %}
    <p>
       <a href="/posts/signup/">Register</a> 
       <a href="/posts/login/">Login</a>
   </p>
    {% endif %}

 <a href = "/posts" class = "btn">Home</a>
{% endblock %}
