{% extends 'posts/layout.html' %}

{% block content %}

<div class = "container">
<form method ="get">
    <input type ="text" name="q">
    <input type ="submit" value ="Search">
</form>
</div>

<div class ="container">
        <p>
            You searched for: <strong>{{ query }}</strong>.
            {% if items %}
                 Found <strong>{{items|length}}</strong> posts matching your query
            {% else %}
                Sorry. There are no posts matching your query
            {% endif %}
        </p>
    
      {% for item in items %}
         <ul>
            <div class = "card-content">
                <li ><a href = "/posts/details/{{item.id}}/{{item.slug}}">{{item.title}}</a></li>
            </div>
        </ul>
     {% endfor %}
    
</div>
<div class ="container">
    <a href = "/posts" class="button">Go Back</a>   
</div>
{% endblock %}
